 .navBar-position {
    position: absolute;
     left: 56.24%;
    right: 2.5%;
    top: 4.19%;
    bottom: 88.36%; 
    /* padding-right: 10%; */
    background: #000000;
    opacity: 0.4;
}
body {
  overflow-x: hidden;
}
.logo {
    position: absolute;
    left: 0.18%;
    right: 8.62%;
    top: 3.5%;
    bottom: 99.33%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 38px;
    /* identical to box height*/
    color: #D8D9D8;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
     /* weight: 600px; */
  }

  .textLogo {
    height: 150px;
    left: 1.24%;
    right: 59.5%;
  } 

  .horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .horizontal-list li {
    margin-right: 10px;
  }
  .body {
    background-image: url('css/background/svgbackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

/*.all-navbar {*/
/*    width: auto;*/
/*}*/
/* .navBar-position {*/
/*    !* position: absolute; *!*/
/*    left: 90%;*/
/*    right: 20%;*/
/*    top: 6.19%;*/
/*    bottom: 89.36%;*/
/*    padding-left: 10px;*/
/*    background: #000000;*/
/*    opacity: 0.4;*/
/*}*/
/*.logo {*/
/*    position: absolute;*/
/*    left: 1%;*/
/*    right: 10%;*/
/*    top: 6%;*/
/*    bottom: 94%;*/
/*    font-family: "Inter";*/
/*    font-style: normal;*/
/*    font-weight: 100;*/
/*    font-size: 18px; */
/*    line-height: 28px; */
/*    !* identical to box height  *!*/
/*     color: #062c06;*/
/*}*/
 /* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    weight: 600px;
 } 

.text-logo {
   height: 150px;
   left: 1%;
   right: 10%;
} */
